Beat saber task/Library/SourceAssetDB
Beat saber task/Temp/UnityLockfile
BeatSabers/Library/ArtifactDB
BeatSabers/Library/EditorInstance.json
BeatSabers/Library/shadercompiler-UnityShaderCompiler.exe0.log
BeatSabers/Library/SourceAssetDB
BeatSabers/Temp/UnityLockfile
